html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#body-sub {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15%;
    gap: 36px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background-color: aquamarine;
    color: white;
    padding: 24px;
    margin: 0;
}

#rps-icons {
    flex: 3 1 auto;
    display: flex;
    gap: 12px;
}
#scores {
    display: flex;
    flex-direction: column;
    border: solid lightgray 2px;
    border-radius: 10px;
    padding: 12px;
    flex: auto;
}

#score-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.score-element-label {
    font-weight: bold;
}

.rps-icon {
    width: 128px;
    border-radius: 20px;
    border: lightgray 4px solid;
}

.rps-icon:hover {
    transform: scale(1.1);
    border-color: greenyellow;
}